tags
# hidden files
# Vagrant
Vagrantfile
# logs
*.log
# certs
certs/
api/static/myyaml/
api/static/example.yaml
api/static/outline.yaml
# builds
dist/
build/*
docs/public/
debpackage/opt/*
docker/iotdor.tgz
*.deb            
test/
